.contenedor-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    label{
        margin-bottom: 0.2rem;
    }
  

}